* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html, body {
    background-color:white;
    margin: 0;
}

header {
    padding: 20px;
   background-color:black;
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .portfolio {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    
}

/* header nav ul {
    list-style-type: none;
    
} */

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

#photo {
    position:relative;
    background-image:url("images/wood-grain.jpg");
}

#header{
    left: 50%;
    margin-left: -500px;
    background:url(images/logo.png) no-repeat;
    width:1000px;
    height:200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}


.container {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
  }      

  
  
  
  aside {
    height: 500px;
    width: 300px;
    border-right: 3px solid black;
    margin-bottom:30%;
  }
       
   aside h1 {
    font-size: 50px;
  }     

  #Contact {
      margin-bottom:80%;
      
  }

  #Contact h1 {
      position:relative;
      top: 700px;
  }


   main {
    display: flex;
    flex-wrap:wrap;
    margin-top: 2%;
    padding: 10px;
    font-size: 16px;
    justify-content:center;
  }

/* .benefits {
    position:relative;
    width: 250px;
    height: 100px;
    border: 5px solid #000;
    color:black;
    font-weight:bold;
    text-align: center;
} */

/* .about-me {
    padding: 50px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(68, 131, 168);
}

.work {
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(68, 131, 168);
}

.contact-me {
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(68, 131, 168);
    
}

.resume {
    padding: 50px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(68, 131, 168);
} */


/* .about-me h2 {
    margin-bottom: 20px;
    font-size: large;
    color:rgb(68, 131, 168);
}

.work h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: rgb(68, 131, 168);
}

.contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color:rgb(68, 131, 168);
} */

/* .resume h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: white;
} */

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}



.card {
    display:flex;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    
  }
  
  .card p {
      padding: 20px;
      background: #13293d;
      color: #fff;
  }

  
  .card img {
    width: 50%;
    min-width: 200px;
    justify-content:space-between;
    flex-direction:column;
    flex-wrap:wrap;
  }

/* footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:inline-block;
} */

/* footer h2 {
    font-size: 20px;
} */

/* .footer {
    position: absolute;
    bottom:0;
    width:100%;
    background-color:rgb(68, 131, 168);
} */

/* .footer p {
    color: #fff;
    font-size: 30px;
    display: inline-block;
    
} */

/* .bottom {
    max-width: 1674px;  /* adjust to allow for padding as needed */
    padding:0 50px;
    display: flex;
    align-items: center;
} */

/* #ftr-wrap {
    display:table;
    table-layout:fixed;
    width:100%;
    margin:0 auto;
} */
/* #ftr-wrap > div {
    display:table-cell;
    vertical-align:middle;
    outline:1px dashed red;  /* TEST Outline.  TO BE DELETED. */
} */
/* #ftr-wrap > div:nth-child(1) {text-align:left;}
#ftr-wrap > div:nth-child(2) {text-align:center;}
#ftr-wrap > div:nth-child(3) {text-align:right;} */

/* .ftr-links ul {
    padding: 0;
}
.ftr-links ul li {
    display: inline-block;
    padding-right: 15px;
    font-size:.75em; */
/* }
.ftr-links ul li a {
    color: #fff;
    margin: 0;
} */